# Ignore node_modules
node_modules/
**/node_modules/

# Ignore Android SDK (massive folder)
.android-sdk/
**/.android-sdk/

# Ignore Turborepo caches
.turbo/
**/.turbo/
.cache/
**/.cache/

# Ignore build and cache directories
.expo/
web-build/
dist/
build/

# Ignore Next.js cache
.next/
**/.next/

# Ignore native builds
android/
ios/

# Ignore log files and outputs
*.log
*.txt
*.gz
*.zip
*.tar
