# Ignore node_modules
node_modules/
**/node_modules/

# Ignore build and cache directories
.expo/
web-build/
dist/
build/

# Ignore native builds
android/
ios/

# Ignore log files
*.log
*.txt
*.gz
*.zip
*.tar
